
body {
    /*background-image: url('/images/zeit-einteilen.jpg');
    background-repeat: no-repeat;*/
    background-color: darkgray;
}

main {
    /*Footer immer ganz unter platzieren*/
    flex: 1 0 auto;

    padding-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.app-overview-card {
   /* width: 50%;*/
}
